<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sds.db.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="sds.db.dao.User">
    <id column="iduser" jdbcType="VARCHAR" property="iduser" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="pwd" jdbcType="VARCHAR" property="pwd" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="auth" jdbcType="VARCHAR" property="auth" />
    <result column="usercol" jdbcType="VARCHAR" property="usercol" />
    <result column="token" jdbcType="VARCHAR" property="token" />
    <result column="md5_src" jdbcType="VARCHAR" property="md5Src" />
    <result column="addtime" jdbcType="TIMESTAMP" property="addtime" />
    <result column="ts" jdbcType="TIMESTAMP" property="ts" />
    <result column="logintime" jdbcType="TIMESTAMP" property="logintime" />
    <result column="logourl" jdbcType="VARCHAR" property="logourl" />
    <result column="nick" jdbcType="VARCHAR" property="nick" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    iduser, username, pwd, status, auth, usercol, token, md5_src, addtime, ts, logintime, 
    logourl, nick
  </sql>
  <select id="selectByExample" parameterType="sds.db.dao.UserExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where iduser = #{iduser,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from user
    where iduser = #{iduser,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="sds.db.dao.UserExample">
    delete from user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="sds.db.dao.User">
    insert into user (iduser, username, pwd, 
      status, auth, usercol, 
      token, md5_src, addtime, 
      ts, logintime, logourl, 
      nick)
    values (#{iduser,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{pwd,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{auth,jdbcType=VARCHAR}, #{usercol,jdbcType=VARCHAR}, 
      #{token,jdbcType=VARCHAR}, #{md5Src,jdbcType=VARCHAR}, #{addtime,jdbcType=TIMESTAMP}, 
      #{ts,jdbcType=TIMESTAMP}, #{logintime,jdbcType=TIMESTAMP}, #{logourl,jdbcType=VARCHAR}, 
      #{nick,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="sds.db.dao.User">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="iduser != null">
        iduser,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="pwd != null">
        pwd,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="auth != null">
        auth,
      </if>
      <if test="usercol != null">
        usercol,
      </if>
      <if test="token != null">
        token,
      </if>
      <if test="md5Src != null">
        md5_src,
      </if>
      <if test="addtime != null">
        addtime,
      </if>
      <if test="ts != null">
        ts,
      </if>
      <if test="logintime != null">
        logintime,
      </if>
      <if test="logourl != null">
        logourl,
      </if>
      <if test="nick != null">
        nick,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="iduser != null">
        #{iduser,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="pwd != null">
        #{pwd,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="auth != null">
        #{auth,jdbcType=VARCHAR},
      </if>
      <if test="usercol != null">
        #{usercol,jdbcType=VARCHAR},
      </if>
      <if test="token != null">
        #{token,jdbcType=VARCHAR},
      </if>
      <if test="md5Src != null">
        #{md5Src,jdbcType=VARCHAR},
      </if>
      <if test="addtime != null">
        #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="ts != null">
        #{ts,jdbcType=TIMESTAMP},
      </if>
      <if test="logintime != null">
        #{logintime,jdbcType=TIMESTAMP},
      </if>
      <if test="logourl != null">
        #{logourl,jdbcType=VARCHAR},
      </if>
      <if test="nick != null">
        #{nick,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="sds.db.dao.UserExample" resultType="java.lang.Long">
    select count(*) from user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update user
    <set>
      <if test="record.iduser != null">
        iduser = #{record.iduser,jdbcType=VARCHAR},
      </if>
      <if test="record.username != null">
        username = #{record.username,jdbcType=VARCHAR},
      </if>
      <if test="record.pwd != null">
        pwd = #{record.pwd,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.auth != null">
        auth = #{record.auth,jdbcType=VARCHAR},
      </if>
      <if test="record.usercol != null">
        usercol = #{record.usercol,jdbcType=VARCHAR},
      </if>
      <if test="record.token != null">
        token = #{record.token,jdbcType=VARCHAR},
      </if>
      <if test="record.md5Src != null">
        md5_src = #{record.md5Src,jdbcType=VARCHAR},
      </if>
      <if test="record.addtime != null">
        addtime = #{record.addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.ts != null">
        ts = #{record.ts,jdbcType=TIMESTAMP},
      </if>
      <if test="record.logintime != null">
        logintime = #{record.logintime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.logourl != null">
        logourl = #{record.logourl,jdbcType=VARCHAR},
      </if>
      <if test="record.nick != null">
        nick = #{record.nick,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update user
    set iduser = #{record.iduser,jdbcType=VARCHAR},
      username = #{record.username,jdbcType=VARCHAR},
      pwd = #{record.pwd,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=INTEGER},
      auth = #{record.auth,jdbcType=VARCHAR},
      usercol = #{record.usercol,jdbcType=VARCHAR},
      token = #{record.token,jdbcType=VARCHAR},
      md5_src = #{record.md5Src,jdbcType=VARCHAR},
      addtime = #{record.addtime,jdbcType=TIMESTAMP},
      ts = #{record.ts,jdbcType=TIMESTAMP},
      logintime = #{record.logintime,jdbcType=TIMESTAMP},
      logourl = #{record.logourl,jdbcType=VARCHAR},
      nick = #{record.nick,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="sds.db.dao.User">
    update user
    <set>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="pwd != null">
        pwd = #{pwd,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="auth != null">
        auth = #{auth,jdbcType=VARCHAR},
      </if>
      <if test="usercol != null">
        usercol = #{usercol,jdbcType=VARCHAR},
      </if>
      <if test="token != null">
        token = #{token,jdbcType=VARCHAR},
      </if>
      <if test="md5Src != null">
        md5_src = #{md5Src,jdbcType=VARCHAR},
      </if>
      <if test="addtime != null">
        addtime = #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="ts != null">
        ts = #{ts,jdbcType=TIMESTAMP},
      </if>
      <if test="logintime != null">
        logintime = #{logintime,jdbcType=TIMESTAMP},
      </if>
      <if test="logourl != null">
        logourl = #{logourl,jdbcType=VARCHAR},
      </if>
      <if test="nick != null">
        nick = #{nick,jdbcType=VARCHAR},
      </if>
    </set>
    where iduser = #{iduser,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="sds.db.dao.User">
    update user
    set username = #{username,jdbcType=VARCHAR},
      pwd = #{pwd,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      auth = #{auth,jdbcType=VARCHAR},
      usercol = #{usercol,jdbcType=VARCHAR},
      token = #{token,jdbcType=VARCHAR},
      md5_src = #{md5Src,jdbcType=VARCHAR},
      addtime = #{addtime,jdbcType=TIMESTAMP},
      ts = #{ts,jdbcType=TIMESTAMP},
      logintime = #{logintime,jdbcType=TIMESTAMP},
      logourl = #{logourl,jdbcType=VARCHAR},
      nick = #{nick,jdbcType=VARCHAR}
    where iduser = #{iduser,jdbcType=VARCHAR}
  </update>
</mapper>